.client-number-container{
    display: inline;
    margin-left: 1px;
}

.client-number-container:hover{
    cursor: pointer;
}

.client-number-container i {
    position:relative;
    left:-2px;
    padding:10px 10px;
    margin-left: 2px;
    color:#d9d9d9;
    font-size: small;
   }

.number-input{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: -2.2rem;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background: #fff;
    color: #d9d9d9;
    transition: border 0.3s, box-shadow 0.3s;
    font-feature-settings: 'tnum', "tnum";
    line-height: 1.5715;
    padding: 6.5px 11px 6.5px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 420;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.number-input:hover{
    border-color: #ED6C02;
    cursor: pointer;
}

.number-input:focus{
    outline: 1px solid #ED6C02;
}

.select-number-container{
    /* display: inline-block; */
    position: relative;
    height: 165px;
    width: 210px;
    margin-top: 5px;
    background-color: #f7f4f4;
    box-shadow: 3px 3px 3px rgb(185, 184, 184);
    left: 60.9%;
}

.select-number-container:hover{
    cursor: default;
}

.adults-span-container{
    position: relative;
    top: 20%;
    right: 34%;
}

.children-span-container{
    position: relative;
    top: 38%;
    right: 31%;
    
}

.adults-span{
    display: inline;
    color: #706c6c;
}

.children-span{
    display: inline;
    color: #706c6c;
}