.client-number-container{
    display: inline-block;
    margin-left: 1px;
}

.client-number-container i {
    display: inline-block;
    position:relative;
    left:-2px;
    padding:10px 10px;
    margin-left: 2px;
    color:#d9d9d9;
    font-size: small;
   }

.number-input{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: -2.2rem;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background: #fff;
    color: rgba(0, 0, 0, 0.85);
    transition: border 0.3s, box-shadow 0.3s;
    font-feature-settings: 'tnum', "tnum";
    line-height: 1.5715;
    padding: 6.5px 11px 6.5px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 420;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.number-input:hover{
    border-color: #ED6C02;
    cursor: pointer;
}

.number-input:focus{
    outline: 1px solid #ED6C02;
}

.select-number-container{
    position: relative;
    height: 165px;
    width: 210px;
    left: 3px;
    margin-top: 5px;
    background-color: #f7f4f4;
    box-shadow: 3px 3px 3px rgb(185, 184, 184);
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in {
    from {
        margin-top: 50px;
        opacity: 0.1;
      }
    
      to {
        margin-top: 5px;
        opacity: 1;
      }
  }

@keyframes fade-out {
    from {
        margin-top: 5px;
        opacity: 1;
      }
    
      to {
        margin-top: 50px;
        opacity: 0.1;
      }
  }

.select-number-container:hover{
    cursor: default;
}

.adults-span-container{
    position: relative;
    top: 20%;
    right: 20%;
}

.children-span-container{
    position: relative;
    top: 22%;
    right: 23%;
    
}

.adults-span{
    display: inline;
    position: relative;
    right: 8px;
    color: #969292;
}

.children-span{
    display: inline;
    color: #969292;
    position: relative;
    left: 4px;
}

.line-break{
    position: relative;
    top: 26%;
    color: #969292;
}

.remove-icon{
    position: relative;
    color: #969292;
    left: 23%;
}

.add-icon{
    position: relative;
    color: #969292;
    left: 43%;
}

.remove-icon:hover{
    cursor: pointer;
    color: #a7a0a0;
}

.add-icon:hover{
    cursor: pointer;
    color: #bdb4b4;
}

.adults-selected{
    position: relative;
    color: #bdb4b4;
    left: 33%;
}

.choose-child-age-container{
    display: none;
    position: relative;
    left: 45px;
}

.choose-age-dropdown{
    cursor: pointer;
    color: #969292;
}

.choose-age{
    display: inline-block;
    position: relative;
    color: #969292;
    margin-right: 5px;
}