.range-picker:hover{
    border-color: #ED6C02;
}

.range-picker:focus{
    outline: 1px solid #ED6C02;
    box-shadow: #ED6C02;
}

.datepicker{
    display: inline-block;
    vertical-align: top;
}

.ant-picker-range-separator{
    margin-right: 15px;
    margin-bottom: 6px;
}

.ant-picker-input{
    left: 10px;
}

.ant-picker-input:hover{
    left: 10px;
}